/* styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #f89522;
  --dark-gray: #fbfafb;
}
ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.topbar {
  background-color: #f5f6f6;
}
.topbar span {
  color: var(--primary);
}
.container-lg , .container{
    max-width: 1320px;
    width: 100%;
}
.header {
  display: flex;
  padding: 10px 0;
  align-items: center;
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s ease;
  z-index: 1000;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.logo {
  max-width: 230px;
  max-height: 50px;
  width: 100%;
}
.hamburger {
  background-color: var(--primary);
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
  user-select: none;
  border: none;
}
.hamburger span {
  display: block;
  width: 80%;
  height: 3px;
  background-color: white;
  content: "";
}
.header .menu li {
  margin-right: 25px;
}
.header .menu li a {
  font-weight: 500;
  color: black;
}
.header .menu li a:hover {
  color: var(--primary);
}
.header .menu li:last-child {
  margin-right: 0px;
}
.header .btn-primary, .works .btn-primary, .newslatter .btn-primary,
.cta button {
  background-color: var(--primary);
  border: none;
  padding: 8px 30px;
  border-radius: 30px;
  color: black;
  border: 1px solid var(--primary);
  font-weight: bold;
}

/* Mobile sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: var(--dark-gray);
  transition: left 0.3s ease;
  z-index: 1001;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}
.sidebar ul li a {
  color: black;
  font-weight: 500;
}

.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a:hover {
  color: var(--primary);
}

/* Show sidebar when hamburger menu is clicked */
.sidebar-open {
  left: 0;
}

.content h1 {
  font-size: 36px;
}
.content h3 {
  font-size: 22px;
}
.content p {
  font-size: 18px;
}
.styled_head {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  position: relative;
}
.styled_head h3 {
  font-size: 20px;
  padding: 5px 0;
}
.currency_market h4 {
    font-size: 19px !important;
  }
  .currency_market p {
    font-size: 16px !important;
  }

.expected_trading td,
.key_event td {
  padding: 10px 5px;
  font-size: 15px;
}
.expected_trading td:nth-child(1),
.key_event td:nth-child(1) {
  padding-left: 0px;
  padding-right: 5px;
}
.expected_trading td:nth-child(2),
.key_event td:nth-child(2) {
  width: 130px;
}
.key_event td:nth-child(1) {
  width: 40px;
}
.text-green{
  color: #138E02 !important;
  font-weight: 400;
}
.text-danger{
  color: #E4240D !important;
  font-weight: 400;
}

.stats .styled_head th{
  width: 20% !important;
}
.stats .styled_head th:first-child{
  min-width: 100px !important;
}
.stats th{
  font-size: 16px !important;
}
.cta_banner{
  background: linear-gradient(270deg, #fba80e , #f3861f);
  padding: 25px 0;

}
.white_btn{
  background-color: white;
  border-radius: 30px;
  border: none;
  padding: 0.8rem 1.2rem;
  color: var(--primary);
  font-weight: 500;
}
.post_cover{
  border: 2px solid #EBEBEB;
}




.newslatter{
  background-color: #f5f6f6;
  padding: 30px 0;
}

.works p{
    font-size: 16px !important;
}
.works .post_cover{
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    border: none;
}
.works .post_image{
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 100px;
}
.works .works_heading{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    transition: all linear 0.1s;
    color: black;
}
.works .works_heading:hover{
    color: var(--primary);
}
.works .author , .works .date{
    color: #a0a0a0;
    font-size: 12px;
}















.footer_cover {
    background-color: #393939;
    padding: 3em 0;
}

.footer_cover .footer_logo {
    width: 5em;
}

.footer_cover .footer_logo img {
    width: 100%;
}

.footer_cover .row:first-child h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.footer_cover .row:first-child ul {
    list-style: none;
    padding-left: 0;
}

.footer_cover .row:first-child ul li {
    width: 100%;
    padding: 0.5em 0;
}

.footer_cover .row:first-child ul li a {
    display: block;
    color: var(--primary);
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
}

.footer_cover .row:nth-child(2) ul li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    transition: color linear 0.2s;
}

.footer_cover .row:nth-child(2) ul li a:hover {
    color: rgba(255, 255, 255);
}

.footer_cover .row:last-child h5 {
    font-size: 1.2em;
    padding: 1em 0;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 0;
}
.footer_cover .row:first-child > div:nth-child(2) ul li a , .footer_cover .row:first-child > div:nth-child(3) ul li a{
  color: var(--primary);
}

.footer_cover .row:first-child > div:nth-child(4) ul li a{
  font-size: 22px !important;
}



footer .icons .icon{
    background-color: white;
    margin-top: 15px;
    border-radius: 50%;
    height: 40px;
    aspect-ratio: 1;
    color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
}
footer .icons .icon:last-child{
    margin-right: 0;
}

footer a{
    font-size: 14px !important;
}






.content .container .row:first-child h1{
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}
.content .container .row:first-child h3{
  font-size: 22px;
  font-weight: 500;
}
.content .container .row:first-child p{
  font-size: 18px;
}
.currency_market h4{
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 720px;
  }
  .content .container .row:first-child h1{
    font-size: 48px;
  }
  .content .container .row:first-child h3{
    font-size: 30px;
  }
  .content .container .row:first-child p{
    font-size: 24px;
  }
  .stats .styled_head th{
    width: 25% !important;
  }
  .stats th:first-child , .stats th:last-child{
    width: 100px !important;
  }
  .stats td , .stats th{
    font-size: 20px !important;
  }
  .stats .styled_head th:nth-child(3){
    width: auto;
  }
  .styled_head h3 {
    font-size: 29px;
    padding: 8px 0;
  }
  .content h1 {
    font-size: 48px;
  }
  .content h3 {
    font-size: 30px;
  }
  .content p {
    font-size: 24px;
  }
  .hamburger {
    display: none;
  }
  .expected_trading td,
  .key_event td {
    padding: 10px 5px;
    font-size: 20px;
  }
  .key_event td {
    padding: 2px 5px;
  }
  .expected_trading td:nth-child(1),
  .key_event td:nth-child(1) {
    padding-left: 30px;
    padding-right: 5px;
  }
  .key_event td:nth-child(1) {
    width: 110px;
  }
  .expected_trading td:nth-child(2),
  .key_event td:nth-child(2) {
    width: 180px;
  }
  .currency_market h4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .currency_market p {
    font-size: 19px !important;
  }
}

@media screen and (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
  .logo_cover,
  .cta {
    width: 200px;
  }
  .header .menu {
    flex-grow: 1;
    justify-content: center;
  }
  .header .cta {
    display: flex;
    justify-content: end;
  }
  #w-85 {
    max-width: 85%;
  }
  .text-xl {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .text-xl {
    font-size: 4rem;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}